<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzy.portal.dumu.server.system.provider.mapper.base.SystemOrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.zkzy.zyportal.system.api.entity.base.SystemOrganization" >
    <result column="ORGANIZATION_ID" property="organizationId" jdbcType="VARCHAR" />
    <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
    <result column="MYID" property="myid" jdbcType="VARCHAR" />
    <result column="PID" property="pid" jdbcType="VARCHAR" />
    <result column="FULL_NAME" property="fullName" jdbcType="VARCHAR" />
    <result column="ENAME" property="ename" jdbcType="VARCHAR" />
    <result column="MANAGER" property="manager" jdbcType="DECIMAL" />
    <result column="ICONCLS" property="iconcls" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="ASSISTANT_MANAGER" property="assistantManager" jdbcType="DECIMAL" />
    <result column="EMP_QTY" property="empQty" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATED" property="created" jdbcType="DATE" />
    <result column="LASTMOD" property="lastmod" jdbcType="DATE" />
    <result column="SHORT_NAME" property="shortName" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CREATER" property="creater" jdbcType="DECIMAL" />
    <result column="MODIFYER" property="modifyer" jdbcType="DECIMAL" />
  </resultMap>
  <insert id="insert" parameterType="com.zkzy.zyportal.system.api.entity.base.SystemOrganization">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jun 26 09:58:35 CST 2017.
    -->
    insert into SYSTEM_ORGANIZATION (ORGANIZATION_ID, COMPANY_ID, MYID,
    PID, FULL_NAME, ENAME,
    MANAGER, ICONCLS, STATE,
    ASSISTANT_MANAGER, EMP_QTY, STATUS,
    CREATED, LASTMOD, SHORT_NAME,
    TEL, FAX, DESCRIPTION,
    CREATER, MODIFYER)
    values (sys_guid(), #{companyId,jdbcType=DECIMAL}, #{myid,jdbcType=VARCHAR},
    #{pid,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, #{ename,jdbcType=VARCHAR},
    #{manager,jdbcType=DECIMAL}, #{iconcls,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
    #{assistantManager,jdbcType=DECIMAL}, #{empQty,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR},
    #{created,jdbcType=DATE}, #{lastmod,jdbcType=DATE}, #{shortName,jdbcType=VARCHAR},
    #{tel,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
    #{creater,jdbcType=DECIMAL}, #{modifyer,jdbcType=DECIMAL})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ORGANIZATION_ID, COMPANY_ID, MYID, PID, FULL_NAME, ENAME, MANAGER, ICONCLS,
    STATE, ASSISTANT_MANAGER, EMP_QTY, STATUS, CREATED, LASTMOD, SHORT_NAME, TEL, FAX,
    DESCRIPTION, CREATER, MODIFYER
    from SYSTEM_ORGANIZATION
    WHERE  1=1
    ${_parameter}
  </select>

  <select id="selectBetween" resultMap="BaseResultMap" >
    ${_parameter}
  </select>

  <update id="update">
    UPDATE SYSTEM_ORGANIZATION
    <set>
      COMPANY_ID=#{companyId},
      MYID=#{myid},
      PID=#{pid},
      FULL_NAME=#{fullName},
      ENAME=#{ename},
      MANAGER=#{manager},
      ICONCLS=#{iconcls},
      STATE=#{state},
      ASSISTANT_MANAGER=#{assistantManager},
      EMP_QTY=#{empQty},
      STATUS=#{status},
      LASTMOD=#{lastmod},
      SHORT_NAME=#{shortName},
      TEL=#{tel},
      FAX=#{fax},
      DESCRIPTION=#{description},
      CREATER=#{creater},
      MODIFYER=#{modifyer}
    </set>
    WHERE ORGANIZATION_ID = #{organizationId}
  </update>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ORGANIZATION_ID, COMPANY_ID, MYID, PID, FULL_NAME, ENAME, MANAGER, ICONCLS,
    STATE, ASSISTANT_MANAGER, EMP_QTY, STATUS, CREATED, LASTMOD, SHORT_NAME, TEL, FAX,
    DESCRIPTION, CREATER, MODIFYER
    from SYSTEM_ORGANIZATION
    where ORGANIZATION_ID = #{organizationId}
  </select>

  <select id="selectByPermission" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ORGANIZATION_ID, COMPANY_ID, MYID, PID, FULL_NAME, ENAME, MANAGER, ICONCLS,
    STATE, ASSISTANT_MANAGER, EMP_QTY, STATUS, CREATED, LASTMOD, SHORT_NAME, TEL, FAX,
    DESCRIPTION, CREATER, MODIFYER
    from SYSTEM_ORGANIZATION
    where MYID = #{myid}
  </select>

  <update id="del">

    delete from SYSTEM_ORGANIZATION where ORGANIZATION_ID in

    (select ORGANIZATION_ID from SYSTEM_ORGANIZATION  start with ORGANIZATION_ID=#{id} connect by prior ORGANIZATION_ID = PID)

  </update>


  <select id="selectCoustrom" resultMap="BaseResultMap">
    ${_parameter}
  </select>

</mapper>